*{
    margin:0;
    padding:0;
}

.title1{
    font-size: 28px;
}
#sideNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -50px;
    top: 0;
    background-color: black;
    z-index: 2;
    transition: 0.5s;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-style: italic;
}
#menuBtn{
    width: 50px;
    height: 50px;
    text-align: center;
    background: black;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}

#menuBtn img{
    width: 20px;
    margin-top: 15px;
}

@media screen and (max-width: 770px){
    .banner-text h1{
        font-size: 70px;
    }

    #sideNav{
        width: 170px;
        height: 100vh;
        position: fixed;
        right: -170px;
        top: 0;
        background-color: black;
        z-index: 2;
        transition: 0.5s;
    }
}

.banner{
    background-image: url("banner.jpg");
    height: 800px;
    background-size: cover;
    background-position: center;
}

.banner-text{
    font-size: 130px;
    text-align: center;
    color: white;
    padding-top: 400px;
}

.title{
    text-align: center;
    padding-top: 20px;
    color: black;
}


.container {
    padding-left: 5%;
    padding-right: 5%;
    margin-right: auto;
    margin-left: auto;
  }

.box:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }


/* Add rounded corners to the top left and the top right corner of the image */
img {
    border-radius: 5px 5px 5px 5px;
  }